<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/movie-fav.css">
    <style>
        [v-cloak]{
            display:none;
        }
    </style>
    <title>VJS</title>
</head>
<body>
    <div id="vue-etiqueta">
        <prueba-vcloak></prueba-vcloak>
        <componente-principal></componente-principal>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script>
        Vue.component('prueba-vcloak',{
            template: `<div v-cloak> {{hola}} </div>`,
            data(){
                return{
                    hola: 'Holanda que talca',
                }
            }
        })
    </script>
    <script src="js-v/vjs.js"></script>
</body>
</html>